body{ 
	background: url(images/prism.png); 
	margin-left: 400px;
	margin-right: 400px;
	font: 16pt "Times New Roman";
}

h1{
	text-align: center;
}
.links{
	color:white;
}
body{
	margin-left: 400px;
	margin-right: 400px;

	font: 16pt "Times New Roman";
}
h1,
h2{
	font-family: 'Montserrat Alternates', sans-serif;
}
.container{
  display: flex; 
  align-items: center;
}
p.mainImg{
	text-align: center;
}
p.page2{
	text-align: center;
}

a{
	text-decoration: none;
}
.text{
	color: white;
}
.allText{
	font-family: "Times New Roman", sans-serif;
}

/*Buttooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooons*/
.btn {
	position: relative;
	padding: 15px 30px;
	margin: 0 20px;
	font-family: 'Montserrat Alternates', sans-serif;
	color: white;
	font-weight: 600;
	background: #c81965;
	border-width: 0;	
	outline: none;
	cursor: pointer;
}
.btn:before,
.btn:after{
	content: "";
	position: absolute;
	height: 50%;
	width: 100%;
	background: #c81965;
	transition: .3s cubic-bezier(.75,.24,.01,.9);
}
.btn:before { 
	top: 0;
	right: -5px; 
}
.btn:after { 
	bottom: 0;
	left: -5px;  
}
.btn:hover:before {
	transform: translateX(-5px);
}
.btn:hover:after {
	transform: translateX(5px);
}
.btn2,
.btn2:before,
.btn2:after {
	background: #1f0b2f;
}
.text {
	position: relative;
	z-index: 2;
}
/*--------------------------------------------------------*/
.slider {
      position: relative;
      overflow: hidden;
      max-width: 600px;
      margin-left: auto;
      margin-right: auto;
    }

    /* стили для обёртки, в которой заключены слайды */
    .slider__wrapper {
      position: relative;
      overflow: hidden;
    }

    /* стили для контейнера слайдов */
    .slider__items {
      display: flex;
      transition: transform 0.6s ease;
    }

    /* стили для слайдов */
    .slider__item {
      flex: 0 0 100%;
      max-width: 100%;
    }

    /* стили для кнопок "вперед" и "назад" */
    .slider__control {
      position: absolute;
      top: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      color: #fff;
      text-align: center;
      opacity: 0.5;
      height: 50px;
      transform: translateY(-50%);
      background: rgba(0, 0, 0, 0.5);
    }

    .slider__control:hover,
    .slider__control:focus {
      color: #fff;
      text-decoration: none;
      outline: 0;
      opacity: 0.9;
    }

    .slider__control_prev {
      left: 0;
    }

    .slider__control_next {
      right: 0;
    }

    .slider__control::before {
      content: '';
      display: inline-block;
      width: 20px;
      height: 20px;
      background: transparent no-repeat center center;
      background-size: 100% 100%;
    }

    .slider__control_prev::before {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
    }

    .slider__control_next::before {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
    }

    /* стили для индикаторов */
    .slider__indicators {
      position: absolute;
      right: 0;
      bottom: 10px;
      left: 0;
      z-index: 15;
      display: flex;
      justify-content: center;
      padding-left: 0;
      margin-right: 15%;
      margin-left: 15%;
      list-style: none;
      margin-top: 0;
      margin-bottom: 0;
    }

    .slider__indicators li {
      box-sizing: content-box;
      flex: 0 1 auto;
      width: 30px;
      height: 4px;
      margin-right: 3px;
      margin-left: 3px;
      text-indent: -999px;
      cursor: pointer;
      background-color: rgba(255, 255, 255, 0.5);
      background-clip: padding-box;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
    }

    .slider__indicators li.active {
      background-color: #fff;
    }

    .img-fluid {
      display: inline-block;
      height: auto;
      max-width: 100%;
    }

    /*BUTOOOOOOOOOOOOOOOOON 2222222222222222222222222222*/

.btnn {
	margin: 0 20px;
    padding: 5px 5px;
	overflow: hidden;
	font-family: 'Montserrat Alternates', sans-serif;
    color: white;
	letter-spacing: 1px;    
    text-transform: uppercase;
	font-weight: 600;
    border-width: 0;    
	transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	outline: none;
    cursor: pointer; 
    position: -webkit-sticky;
	position: sticky;
	top: 20px; left: 5000px;
	opacity: .2;
}
.btnn {
	background: linear-gradient(90deg, #c600b2, #7619fd);
}

.btnn:before, 
.btnn:after {    
    content: "";
	position: absolute;
	z-index: -1;
	width: 100%;
    height: 100%;
    left: -110%;
    top: 0;
	opacity: 0.1;
	background: black;    
    transform: skewX(25deg);    
	transition: .5s ease;
}
.btnn:hover:before {
    left: -10%;
    transition: .3s ease;
}
.btnn:hover:after {
    left: -20%;
}